body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    height: auto;
}

h1 {
    margin-bottom: 20px;
}

.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.todo-form input {
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.todo-form .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.todo-form .btn:hover {
    background-color: #218838;
}

ul.header {
    list-style-type: none;
    padding: 0;
}